.embla {
  width: 100%;
  margin: 0;
  --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 80%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.carousel-img {
  margin: 0;
  padding: 0;
  width: 60%;
  height: var(--slide-height);
  position: relative;
}
.tag-wrap {
  margin: 0 0 0 0.4rem;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.tag-wrap .tag-text {
  display: none; /* hidden by default */
  margin: 0 0 0 0.4rem;
  font-size: 1rem;
}
.tag-wrap:hover .tag-text {
  display: inline; /* show on hover of wrap */
}
.tag-text {
  margin: 0;
  padding: 0;
}
.tags {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.tag-icon {
  width: 20px;
  height: 20px;
}

.embla__slide__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.embla__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
}
.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.embla__dot:before,
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot:before {
  border: 0.2rem solid #ffffff;
}
.embla__dot:after {
  border: 0.2rem solid #FF4CED;
  opacity: 0;
}
.embla__dot--selected:after {
  opacity: 1;
}
.embla__slide {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}
